/* Generic*/

header {
    height: 80px;
    background-color: #2c3e50;
}

form {
    min-height: 350px;
}

section {
    min-height: 300px;
}


[class^='col'] {
    min-height: 50px;
}

#contacts input,
#contacts textarea {
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: darkgray;
}


/*star*/

.fa-star {
    font-size: 25px;
    transform: translateY(-2px);
}

.star-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-divider::after,
.star-divider::before {
    content: '';
    background-color: white;
    height: 2px;
    margin: 0 20px;
    width: 100px;
}

.dark.star-divider::after,
.dark.star-divider::before {
    background-color: black;
}

/*Portfolio*/

.img-fluid {
    border-radius: 20px;
    margin-bottom: 15px;
}
