.container-fluid {
    border: 1px solid black;
}

.container {
    border: 2px dashed goldenrod;
}

header {
    height: 80px;
    border: 2px dashed gray;
}

form {
    min-height: 350px;
}

section {
    border: 2px dashed red;
    min-height: 600px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
}


